.makeStyles-heroContent-2 {
  background-color: #4a6572 !important;
}

.MuiAppBar-colorPrimary {
  background-color: #344955 !important;
}

.MuiTypography-colorTextPrimary,
.MuiButton-outlined,
a {
  color: #f9aa33 !important;
}

.MuiTypography-noWrap {
  font-family: "Bad Script", cursive !important;
  font-size: xx-large !important;
}

.MuiTypography-h4 {
  font-family: "Open Sans Condensed", sans-serif !important;
}

.MuiTypography-h5 {
  font-family: "Open Sans Condensed", sans-serif !important;
}

p {
  font-family: "Josefin Sans", sans-serif !important;
  color: #ffffff;
}
